#logo{
	}

	body{
		background-color: #ebeff5;
	}


	#total-orders{
		background-color: #957DAD;
	}


	#orders-delivered{
		background-color: #957DAD;
	}

	#orders-pending{
		background-color: #957DAD;
	}